<!-- Banner -->
<section class="banner {{ .style }}" style="margin-top:-7%;">
    <div class="content" style="display: grid; place-items: center;">
        {{ with .logo }}
            <img src="{{ .source }}" height="{{ .height }}" alt="All Fours Quick Tracker Logo" />
        {{ end }}
        <br />
        {{ with .title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .subtitle }}<h2>{{ . | safeHTML }}</h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        <ul class="actions stacked">
            {{ with .androidButton }}
            <li><a href="{{ .link }}" target="_blank" class="button primary large wide smooth-scroll-middle">{{ .label }}</a></li>
            {{ end }}

            {{ with .iosButton }}
            <li><a href="{{ .link }}" target="_blank" class="button primary large wide smooth-scroll-middle">{{ .label }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ with .image }}<div class="image">
        <img src="{{.}}" alt="Hugo Story" />
    </div>{{end}}
</section>